ß@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Roboto');


* {
    /* margin: 0;*/
    padding: 0;
    font-family: 'Noto Sans JP', 'Roboto', sans-serif;
}

body {
    width: 70%;
    margin: 0 auto;
    color: #4d4d4d;
}
   
a {
    text-decoration: none;
    color: #0594cb;
}

article {
    padding-bottom: 16px;
}

.article-partition {
    text-align: center;
    font-size: 24px;
    color: #0594cb;
}
   
.blog-entry {
    list-style: none;
    margin-bottom: 48px;
    display: flex;
}

.tags {
    padding-inline-start: 16px;
}

.tag {
    list-style: none;
    margin-top: 0px;
}

ul,
ol {
    padding-inline-start: 40px;
}

.blog-header {
    color: #4d4d4d;
    text-align: center;
    font-size: 36px;
    padding-bottom: 64px;
}

.blog-header > a {
    color: #4d4d4d;
}
  
header {
    padding-top: 16px;
}
   
header::after,
.entry-header::after {
    content: "";
    clear: both;
    display: block;
}

footer {
    margin-bottom: 8px;
}
   
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #4d4d4d;
    padding-bottom: 8px;
}

h1,
h2 {
    border-bottom: 1px solid #ccc;
}

main,
nav,
footer {
    margin-top: 40px;
}
   
li {
    margin-top: 16px;
}
   
li span {
    margin-right: 16px;
}
   
nav,
footer {
    text-align: center;
}
   
.entry-date {
    /*float: left;*/
    color: #4d4d4d;
}
   
.entry-content {
    margin-top: 40px;
}

pre {
    border: 1px solid #dfe2e5;
    border-radius: 3px;
    font-size: 75%;
    line-height: 1.4;
    padding: 1em;
    background: #f6f8fa;
    overflow: auto;
}

table {
    border-collapse: collapse;
    border: 1px solid #CCC;
    font-size: 75%;
}
   
th, td {
    padding: 5px 10px;
    border: 1px solid #CCC;
}
   
th {
    background: #EEE;
}

p > code,
li > code,
a > code,
td > code {
  font-size: 80%;
  background: #f6f8fa;
  margin: 0;
  border-radius: 3px;
  padding: 0.15em 0.25em;
}

blockquote {
    margin: 0;
    padding: 0 1rem;
    color: #6a737d;
    border-left: 0.25rem solid #dfe2e5;
}

.tags-item {
    display: inline-block;
}

.readmore {
    margin-top: 24px;
}

.author {
    padding: 0 24px 24px 0;
    text-align: center;
}

.author-avatar {
    border-radius: 50%;
    width:  64px;
    height: 64px;
    display: inline-block;
    vertical-align: middle;
    object-fit: cover;
}

.author-meta {
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
    text-align: left;
}

.author-name {
    display: block;
    color: #000;
    font: bold;
}

.author-profile {
    display: block;
    font-size: 75%;
    color: #6a737d;
}

.sns-share-buttons {
    text-align: right;
    margin: 24px;
}

.xPrevNextLink::after {
    display: block;
    content: "";
    clear: both;
}
.xPrevNextLink_prev {
    display: block;
    float: left;
}
.xPrevNextLink_prev::before {
    content: "≪ ";
}
.xPrevNextLink_next {
    display: block;
    float: right;
    text-align: right;
  
}
.xPrevNextLink_next::after {
    content: " ≫";
}

.pagination {
    margin-bottom: 36px;
}

.blog-entry-thumbnail > img {
    object-fit: cover;
    width: 300px;
    height: 200px;  
    margin-right: 36px;
}