<li class="blog-entry">
    <div class="blog-entry-thumbnail">
        {{ $eyecatch_image := findRE "<img.*?src=([^>]*)?>" .Content 1 }}
        {{ if ge (len $eyecatch_image ) 1 }}
        {{ range $eyecatch_image }}
        {{ . | safeHTML }}
        {{ end }}
        {{ else }}
        <img src="/images/600400.png">
        {{ end}}
    </div>
    <div class="blog-entry-content">
        <a href="{{ .Permalink }}">
            <!-- <span>{{ .Date.Format "Jan 02, 2006" }}</span>{{ .Title }} -->
            <span class="entry-date">{{ .Date.Format "2006-01-01" }}</span>
            <h1 class="entry-title">{{ .Title }}</h1>
        </a>
        {{ .Summary | plainify }}
        {{ if .Truncated }}
        <!-- This <div> includes a read more link, but only if the summary is truncated... -->
        <div class="readmore"><a href="{{ .RelPermalink }}">read more</a></div>
        {{ end }}
    </div>
</li>