{{ partial "head.html" . }}
{{ partial "header.html" . }}
<main>
    <article>
        <ul>
            {{ range (.Paginator 5).Pages }}
            {{ .Render "li" }}
            {{ end }}
        </ul>
    </article>
    {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
    <nav class="pagination">
        {{ if .Paginator.HasPrev }}
        <a href="{{ .Paginator.Prev.URL }}">Prev</a>
        {{ end }}
        <span class="current-page">Page {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}</span>
        {{ if .Paginator.HasNext }}
        <a href="{{ .Paginator.Next.URL }}">Next</a>
        {{ end }}
    </nav>
    {{ end }}
    <p class="article-partition">***</p>
</main>
{{ partial "author.html" . }}
{{ partial "footer.html" . }}